<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>{{ division }}</title>
</head>

<body>
    <h1>{{ division }}</h1>
    <h2>Arenas</h2>
    <ul>
        {% for arena in division.arenainbank_set.all %}
        <li><a href="{% url 'arenas:arena_in_bank_detail' arena.id %}">{{ arena }}</a></li>
        {% endfor %}
    </ul>
    <h2>Player Rankings</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
        </tr>
        {% for rank in rankings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ rank.player }}</td>
            <td>{{ rank.score }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
